@import 'sass-mq';
@import 'styles/constants';

.fieldset {
  border: 1px solid #dfe1e5;
  border-radius: 22px;
  padding: 16px;
}

.container {
  margin: 0 0 -8px;
}

.row {
  margin: 0 0 8px;
}

.col {
  align-items: center;
  display: flex;

  @include mq($until: tablet) {
    font-size: 1.2rem;
  }

  @include mq($from: tablet) {
    font-size: 1.4rem;
  }
}

.label {
  padding: 0 0 0 8px;
}
