.wrapper {
  display: grid;
  grid-template: 36px / 48px 1fr auto;
  height: 36px;
}

.iconWrapper,
.button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.highlighted {
  background: #eee;
}

.valueWrapper {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  width: 100%;
}

.button {
  align-items: center;
  color: #80868b;
  display: flex;
  font-size: 12px;
  justify-content: center;
  width: 48px;
}
